* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    margin: auto;
    max-width: 900px;
}

/* Header */

.header-app {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem;
    /*border: 2px dashed black;*/

    .up-left {
        max-width: 70%;

        p {
            color: #9b9b9b;
        }
    }

    .up-right {
        display: flex;
        flex-wrap: wrap;
        justify-content: end;
        flex-grow: 1;
        font-size: 18px;
        
        p {
            display: inline;
            padding-left: 0.5rem;
            color: #9b9b9b;
        }

        i {
            padding-left: 0.5rem;
            font-size: 30px;
        }
    }
}

/* Main */

.price-main {
    padding: 1rem;

    section {

        .container {

            .row {
            display: flex;
            flex-wrap: wrap;
            gap: 15px;

                .col {
                    box-shadow: 0 0 8px #9b9b9b;
                    border-radius: 1rem;
                    flex-basis: calc(100% / 3 - (15px * 2) / 3);
                    flex-grow: 1;
                    min-width: 275px;
                    padding: 1rem;

                    .card {
                        padding-left: 1rem;
                        padding-top: 1rem;

                        p {
                            color: #9b9b9b;
                        }
                    }
                    
                    .cent {
                        text-align: center;
                        margin-top: 1rem;

                        .choose {
                            padding: 1rem;

                            .purple {
                                background-color: #6500ff;
                                color: white;
                                border-radius: 1rem;
                                border: none;
                                height: 50px;
                                width: 100%;
                            }
                        }

                        .price {

                            .facecard {
                                font-weight: bold;

                                .big {
                                    display: inline;
                                    font-size: 40px;
                                }

                                .gray {
                                    display: inline;
                                    font-size: 14px;
                                    color: #9b9b9b;
                                }
                            }
                            

                            .sales {
                                padding: 1rem;

                                .shadow {
                                    display: inline;
                                    padding: 5px;
                                    border-radius: 8px;
                                    background-color: #e3e3e3;
                                    color: black;
                                }
                            }
                        }

                        .list-service {

                            ul {
                                display: flex;
                                flex-wrap: wrap;
                                list-style-type: none;
                                justify-content: left;

                                li {
                                    padding: 1rem;
                                    min-width: 100%;
                                    text-align: left;

                                    .icon {
                                        display: inline;
                                        

                                        i {
                                            font-size: 25px;
                                        }
                                    }

                                    .text {
                                        display: inline;
                                        text-align: left;
                                    }
                                }
                            }
                            
                        }
                    }
                }

                #professional {
                    background-color: #6500ff;
                    color: white;

                    .choose {

                        .purple {
                            background-color: white;
                            color: #6500ff;
                            border-radius: 1rem;
                            border: none;
                            height: 50px;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (width < 900px) {

    #ultimate > .cent > .list-service > ul {

       justify-content: space-around;

    }
    
}

@media screen and (width <= 611px) {

    #ultimate > .cent > .list-service > ul {

       flex-direction: column;
       justify-content: left;

    }
    
}